body {
	background: #9975b9;
	font-size: 120%;
}

html {
	background: #9975b9;
	font-size: 200%;	
}

h2{
	font-size: 200%;
	text-align: center;
}

.image {
   	text-align: center;
}

p {
	text-align: center

}